/*--------------------/
CSS Reset
/--------------------*/

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
	padding: 0;
}

footer, header, section {
	display: block;
}

/*--------------------/
Base Styles
/--------------------*/

body {
  font-family: 'Open Sans', sans-serif;
}

/*--------------------/
Header Styles
/--------------------*/

header {
  width: 100%;
  height: 150px;
  color: #ffffff;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid 5px #ffffff;
}

.jumbotron {
  background: none;
}

.jumbotron h1 {
  font-size: 4em;
  text-align: center;
}

/*--------------------/
Feature Content Styles
/--------------------*/

.main-content {
  width: 100%;
  padding: 25px 0;
  background: url("../img/philly-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.main-content h2 {
  padding: 5px 0;
}

.logo {
  width: 20%;
  margin: 20px 40%;
  padding: 20px 0;
}

/*--------------------/
Clearfix
/--------------------*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
