/*--------------------/
CSS Reset
/--------------------*/

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
	padding: 0;
}

footer, header, section {
	display: block;
}

/*--------------------/
Base Styles
/--------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

/*--------------------/
Header Styles
/--------------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  background-color: #333333;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid 5px #ffa457;
  font-weight: 100;
  z-index: 1;
}

/* Navbar */

.navbar-brand, .nav li a {
  color: #ffffff;
}

.navbar-header {
  display: inline-block;
}

.navbar-header a:hover, .nav li a:hover {
  color: #ffa457;
  background-color: transparent;
}

.navbar-header a:active, .nav li a:active {
  color: #ffa457;
  background-color: transparent;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-collapse.collapse {
display: block !important;
}

.navbar-nav>li, .navbar-nav {
float: right !important;
}

/*--------------------/
Feature Content Styles
/--------------------*/

.main-content {
  width: 100%;
  margin-top: 35px;
  padding: 25px 0;
  background: url("../img/philly-bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: 'Annie Use Your Telescope', cursive;
  border-bottom: solid 5px #ffa457;
}

.main-content h2 {
  padding: 5px 0;
  text-shadow: 3px 3px 9px #000000;
}

.logo {
  width: 10%;
  margin: 20px 45%;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .main-content {
    margin-top: 50px;
  }

  .logo {
    width: 30%;
    margin: 20px 35%;
  }
}

/*--------------------/
Content Styles
/--------------------*/

.spacing-wrapper {
  height: 275px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .spacing-wrapper { height: auto; }
}

/* content section styles */

.content {
  margin-top: 30px;
  margin-bottom: 100px;
  font-weight: 100;
  color: #333333;
}

.content a {
  color: #333333;
  text-decoration: none;
}

.content a:hover {
  color: #ffa457;
}

/* about styles */

.about {
  padding: 20px;
  background-color: #ffa457;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #333333;
}

.height-auto { height: auto; }

.degree {
  font-weight: bold;
}

/*--------------------/
Footer Styles
/--------------------*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #333333;
  font-family: 'Oswald', sans-serif;
  border-top: solid 5px #ffa457;
  font-weight: 100;
}

footer p {
  padding: 12px 0;
  text-align: center;
}

/*--------------------/
Clearfix
/--------------------*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
